html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  
  
}

body {
  background: #fff;
  font-family: "Montserrat";
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: #111;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  font-size: 16px;
  margin: 0 auto;
}

/* HEADER NAVIGATION */

.header {
  margin-top: 24px;
  padding: 0 40px;
  font-weight: 600;
  font-size: 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media only screen and (max-width: 1059px) {
  .header-nav_hidden { 
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 550px) {
  .header {
    padding: 0 10px;
  }
}

.header-nav__link {
  padding: 0 25px;
  position: relative;
}

.header-nav__link_active {
  color: #E51937;
}

.header-nav__link_active:after {
  content: "";
  display: block;
  width: 100%;
  max-width: 65px;
  height: 2px;
  background-color: #E51937;
  position: absolute;
  left: 25px;
  top: 21px;
  border-bottom-left-radius:  10px;
  border-bottom-right-radius: 10px;
}


.header-nav__btn {
  margin-right: 25px;
}

.header-nav__button {
  justify-self: right;
}

/* CAR INFO FIRST SECTION */

.top-info__text {
  text-align: center;
  margin-top: 4%;
  width: 100%;
  min-width: 375px;
}

.top-info__image {
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
  width: 100%;
  min-width: 375px;
  background-image: url("../img/Tesla-Wordmark-Red.svg");
  background-size: cover;
  background-position: 20% 85%;
  background-position-x: center;
}

.top-info__title {
  font-weight: 600;
  font-size: 5.625rem;
  margin: 0;
}

@media only screen and (max-width: 411px) {
  .top-info__title {
    font-size: 3.125rem;
  }
  
}

.top-info__subtitle {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0;
}


/* TOP-SECTION CAR STATS */

.top-info__nav {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: auto;
  grid-column-gap: 60px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0px 300px;
}


.top-info__speed_container,
.top-info__range_container {
  grid-row: 1;
  min-width: 150px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1px;
  justify-content: center;
}


.top-info__speed-text {
  float: right;
  font-size: 2.185rem;
  font-weight: 600;
}

.top-info__speed {
  height: 40px;
  margin: 5px;
}

.top-info__seconds {
  font-size: 1.25rem;
}

.top-info__subtext {
  font-size: 12px;
  font-weight: normal;
}

@media only screen and (max-width: 630px) {
.top-info__seconds {
    font-size: 0.925rem;
  }

  .top-info__subtext {
    font-size: 10px;
    font-weight: normal;
  }

  .top-info__speed-text {
    font-size: 1.6875rem;
  }
}
.top-info__order {
  grid-row: 1;
  font-size: 0.925rem;
  border: 2px solid #E51937;
  text-transform: uppercase;
  width: 160px;
  height: 40px;
  color: #E51937;
  font-weight: 700;
}


@media only screen and (max-width: 768px) {
  .top-info__order {
    background: #E51937;
    color: #fff;
    max-width: 135px;
  }
}

.top-info__test-drive {
  grid-row: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.top-info__drive_red {
  display: none;
}

.top-info__test-drive:hover
.top-info__drive_red {
  display: inherit;
  z-index: 3;
}

.top-info__test-drive:hover
.top-info__drive_black {
  display: none;
}



@media only screen and (max-width: 768px) {
  
  .top-info__drive_red {
    display: inherit;
  }

  .top-info__drive_black {
    display: none;
  }

  .top-info__drive {
    color: #E51937;
  }
}

@media only screen and (max-width: 768px) {

  .top-info__nav {
    grid-template-rows: minmax(120px, auto);
    margin: 0 auto;
  }

  .top-info__speed_container {
    grid-column: 2;
  }
  .top-info__range_container {
    grid-column: 3;
  }
  .top-info__test-drive {
    grid-column: 2;
    grid-row: 2;
  }
  .top-info__order {
    grid-column: 3;
    grid-row: 2;
  }
}

.top-info__more-button {
text-align: center;
padding-top: 35px;
}

/* section 2 */ 

.md-info {
  display: grid;
  grid-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 1000px 220px 220px;
  grid-template-rows: repeat(6, auto);
  width: 100%;
  min-width: 375px;
  background-color: #E51937;
}

@media screen and (max-width: 768px) {
  .md-info {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
  }
}

.md-info__image-box {
  width: 100%;
  grid-column: span 1;
  grid-row: 1 / 7;
  background-image: url("/img/2013-tesla-model-s-cockpit.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
}

@media screen and (max-width:768px) {
  .md-info__image-box {
    grid-column: 1 / span 2;
    grid-row: span 1;
    height: 840px;
    background: url("/img/2013-tesla-model-s-cockpit.png");
    background-size: 100% 100%;
  }
}

@media screen and (max-width:375px) {
  .md-info__image-box {
    grid-column: 1 / span 2;
    grid-row: span 1;
  }
}


.md-info__subtitle {
  padding-left: 80px;
  padding-top: 65px;
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
  color: #E51937;
  background-color: white;
}

@media screen and (max-width:375px) {
  .md-info__subtitle {
    display: none;
  }
}

.md-info-box {
  background-color: #E51937;
}

.md-info__about {
}



.info-box__title {
  grid-column: 2 / span 3;
  grid-row: 1;
  background-color: #E51937;
  margin: 50px 0 0 50px;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  color: #fff;
}

@media screen and (max-width:768px) {
  .info-box__title {
    grid-column: 1;
    grid-row: 2;
  }
}

@media screen and (max-width:375px) {
  .info-box__title {
    grid-column: span 2;
  }
}

.info-box__text {
  grid-column: 2 / span 3;
  grid-row: 2;
  margin: 11px 72px 55px 50px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  background-color: #E51937;
}

@media screen and (max-width:768px) {
  .info-box__text {
    grid-column: 1 ;
    grid-row: 3 / span 4;
  }
}

@media screen and (max-width:375px) {
  .info-box__text {
    grid-column: span 2;
  }
}

.info-box__features {
  grid-column: span 2;
  margin-top: 55px;
}
.info-box__item {
  
  background-color: #E51937;
  display: flex;
  margin-left: 50px;
  margin-bottom: 45px;
}

@media screen and (max-width:768px) {
  .info-box__item {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

@media screen and (max-width:375px) {
  .info-box__item {
    display: none;
  }
}

.grid-item-1 {
  grid-column: 2 / span 3;
  grid-row: 3;
}

@media screen and (max-width:768px) {
  .grid-item-1 {
    grid-column: 2;
    grid-row: 2;
  }
}

.grid-item-2 {
  grid-column: 2 / span 3;
  grid-row: 4;
}

@media screen and (max-width:768px) {
  .grid-item-2{
    grid-column: 2;
    grid-row: 3;
  }
}

.grid-item-3 {
  grid-column: 2 / span 3;
  grid-row: 5;
  margin-bottom: 170px;
}

@media screen and (max-width:768px) {
  .grid-item-3{
    grid-column: 2;
    grid-row: 4;
  }
}

.info-box__item img {
  margin-right: 24px;
  align-self: center;
}

.info-box__item-name {
  color: #fff;
}
.info-box__item-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  
}

.info-box__item-title b {
  font-size: 35px;
  line-height: 34px;
}
.info-box__item__text {
  font-size: 12px;
  line-height: 15px;
}
.info-box__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.info-box__buttons {
  grid-column: 2 / span 3;
  grid-row: 6;
  background-color: #E51937;
}

@media screen and (max-width:768px) {
  .info-box__buttons{
    grid-column: 1 / span 2;
    grid-row: 5;
  }
}

@media screen and (max-width:375px) {
  .info-box__buttons{
    display: none;
  }
}

.info-box__button {
  grid-column: span 2;
  display: block;
  margin-right: 20px;
}

.button--transpaternt {
  font-size: 0.925rem;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  padding: 10px 30px;
}


/* section 3 */ 

.box-bg {
  background-color: #E51937;
}

.bottom-info {
  display: grid;
  grid-template-columns: 440px 7fr;
  grid-template-rows: repeat(5, auto);
}

@media screen and (max-width:768px) {
  .bottom-info {
    grid-template-columns: 1fr 1fr;
  }
}

.bt-info-box__text-box {
  grid-column: 1;
  grid-row: 1;
  padding-top: 51px;
  padding-left: 55px;
  padding-right: 65px;
  padding-bottom: 50px;
}

@media screen and (max-width:768px) {
  .bt-info-box__text-box {
    grid-column: 1;
    grid-row: 2;
  }
}

@media screen and (max-width:375px) {
  .bt-info-box__text-box {
    grid-column: span 2;
  }
}

.bt-info-box__title {
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
  color: #fff;
}

.bt-info-box__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
}

.bt-info-box__items {
  padding-left: 55px;
  padding-bottom: 100px;
  padding-right: 90px;
  grid-column: 1;
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width:768px) {
  .bt-info-box__items {
    grid-column: 2;
    grid-row: 2;
    padding-top: 51px;
  }
}

@media screen and (max-width:375px) {
  .bt-info-box__items {
    display: none;
  }
}

.item-list__title {
  padding-bottom: 30px;

}

.bottom-info-box__item {
  display: flex;
  justify-content: space-between;
}

.info-box__item-text {
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
}

.info-box__item-text span {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #fff;
  opacity: .7;
}

.bt-info-box__rating {
  grid-column: 1;
}

@media screen and (max-width:768px) {
  .bt-info-box__rating {
    display: none;
  }
}

.bt-info-box__buttons {
  grid-column: 1;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

@media screen and (max-width:768px) {
  .bt-info-box__buttons {
    grid-column: span 2;
    grid-row: 3;
  }
}

@media screen and (max-width:375px) {
  .bt-info-box__buttons {
    display: none;
  }
}

.bottom-image-box {
  grid-column: 2;
  grid-row: 1 / span 5;
  background: url("/img/Model\ S.png");
  background-repeat: no-repeat;
  background-position: 100% 70px;
  position: relative;
}

@media screen and (max-width:768px) {
  .bottom-image-box {
    grid-column: span 2;
    grid-row: 1;
    background-size: 70% 20%;
    background-position: 50% 20%;
  }
}

.bottom-image-box img {
  position: absolute;
  top: 100px;
  right: 45px;
}
@media screen and (max-width:768px) {
  .bottom-image-box img {
    position: static;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 35px;
  }
}


.bt-info-box__rating {
  text-align: center;
  padding-bottom: 60px;
}

.bt-order-button {
  font-size: 0.925rem;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  padding: 10px 30px;
}
