html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  
  
}

body {
  background: #fff;
  font-family: "Montserrat";
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: #111;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  font-size: 16px;
  margin: 0 auto;
}

/* HEADER NAVIGATION */

.header {
  margin-top: 24px;
  padding: 0 40px;
  font-weight: 600;
  font-size: 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
}

@media only screen and (max-width: 1059px) {
  .header-nav_hidden { 
    display: none;
  }
}

.header-nav {
  
}

.header-nav__link {
  padding: 0 25px;
  position: relative;
}

.header-nav__link_active {
  color: #E51937;
}

.header-nav__link_active:after {
  content: "";
  display: block;
  width: 100%;
  max-width: 65px;
  height: 2px;
  background-color: #E51937;
  position: absolute;
  left: 25px;
  top: 21px;
  border-bottom-left-radius:  10px;
  border-bottom-right-radius: 10px;
}


.header-nav__btn {
  margin-right: 25px;
}

.header-nav__button {
  justify-self: right;
}

/* CAR INFO FIRST SECTION */

.top-info__text {
  text-align: center;
  margin-top: 4%;
  width: 100%;
  min-width: 375px;
  background-image: url("../img/Tesla-Wordmark-Red.svg");
  background-size: cover;
  background-position: 0% 80%;
}

.top-info__image {
  margin-top: 5%;
  width: 70%;
}

.top-info__title {
  font-weight: 600;
  font-size: 5.625rem;
  margin: 0;
}

@media only screen and (max-width: 411px) {
  .top-info__title {
    font-size: 3.125rem;
  }
  
}

.top-info__subtitle {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0;
}


/* TOP-SECTION CAR STATS */

.top-info__nav {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: auto;
  grid-column-gap: 60px;
  justify-items: center;
  align-items: center;
  justify-content: center;

}

.top-info__speed_container,
.top-info__range_container {
  grid-row: 1;
  min-width: 150px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1px;
  justify-content: center;
}


.top-info__speed-text {
  float: right;
  font-size: 2.185rem;
  font-weight: 600;
}

.top-info__speed {
  height: 40px;
  margin: 5px;
}

.top-info__seconds {
  font-size: 1.25rem;
}

.top-info__subtext {
  font-size: 12px;
  font-weight: normal;
}

@media only screen and (max-width: 630px) {
.top-info__seconds {
    font-size: 0.925rem;
  }

  .top-info__subtext {
    font-size: 10px;
    font-weight: normal;
  }

  .top-info__speed-text {
    font-size: 1.6875rem;
  }
}
.top-info__order {
  grid-row: 1;
  font-size: 0.925rem;
  border: 2px solid #E51937;
  text-transform: uppercase;
  width: 160px;
  height: 40px;
  color: #E51937;
  font-weight: 700;
}


@media only screen and (max-width: 768px) {
  .top-info__order {
    background: #E51937;
    color: #fff;
  }
}

.top-info__test-drive {
  grid-row: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.top-info__drive_red {
  position: absolute;
  z-index: 1;
}

.top-info__drive_black {
  z-index: 2;
}

.top-info__drive_black:hover {
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  
  .top-info__drive_red {
    display: block;
  }

  .top-info__drive_black {
    display: none;
  }

  .top-info__drive {
    color: #E51937;
  }
}

@media only screen and (max-width: 768px) {

  .top-info__nav {
    grid-template-rows: minmax(120px, auto);
    margin: 0 auto;
  }

  .top-info__speed_container {
    grid-column: 2;
  }
  .top-info__range_container {
    grid-column: 3;
  }
  .top-info__test-drive {
    grid-column: 2;
    grid-row: 2;
  }
  .top-info__order {
    grid-column: 3;
    grid-row: 2;
  }
}

.top-info__more-button {
text-align: center;
padding-top: 35px;
}

